<?xml version="1.0"?>
<connectionStrings>
  <clear />

<add name="SIPS_036_1Connection" connectionString="Data Source=.;Initial Catalog=SIntegralH;Integrated Security=true;" /> 
  <add name="LocalSqlServer" connectionString="Data Source=.;Initial Catalog=SSO;Integrated Security=true;"
    providerName="System.Data.SqlClient" />
  <add name="SSOMembershipProviderConnectionString" connectionString="Data Source=.;Initial Catalog=SSO;Integrated Security=true;"
    providerName="System.Data.SqlClient" />
  
</connectionStrings>
