<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nhibernate" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="UrlMappings" type="Business.NHibernateHttpModule, Business" />
	</configSections>
  
  <connectionStrings configSource="connectionstrings.config" />
  
	<nhibernate>
		<add key="hibernate.connection.driver class" value="NHibernate.Driver.SqlClientDriver" />
		<add key="hibernate.dialect" value="NHibernate.Dialect.MsSql2000Dialect" />
		<add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
        
    <add key="hibernate.connection.connection_string" value="Data Source=.;Initial Catalog=SIntegralH;Integrated Security=true;" /> 
   	
  </nhibernate>
	<appSettings>
    <add key="ProfilerPort" value="15555" />
    
		<add key="encKey" value="Laborato" />
		<add key="server" value="10.1.232.23" />
		<add key="CrystalImageCleaner-AutoStart" value="true" />
		<add key="CrystalImageCleaner-Sleep" value="60000" />
		<add key="CrystalImageCleaner-Age" value="120000" />
		<add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
	</appSettings>
	<system.web>    
    <membership defaultProvider="SSOMembershipProvider">
      <providers>
        <add name="SSOMembershipProvider" type="Salud.Security.SSO.SSOMembershipProvider" connectionStringName="SSOMembershipProviderConnectionString" alwaysAuthenticate="false" allowAnonymousAccessToImages="true" allowAnonymousAccessToScripts="true" updateTimeoutOnWebMethod="false" useCache="false" cookieName="SSO_AUTH_COOKIE_SSS" />
      </providers>
    </membership>
		<caching>
			<outputCache enableOutputCache="false"></outputCache>
		</caching>
		<!--<identity impersonate="true"/>-->
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<!--<globalization uiCulture="es-ES" culture="es-ES" fileEncoding="utf-8" />-->
    <globalization fileEncoding="iso-8859-1" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" culture="es-AR" uiCulture="es-AR" />
		<compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
			<assemblies>
				<add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
				<add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
				<add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />        
      </assemblies>
      
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms" />
		<!--
    The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

      
        -->
		<!--<sessionState mode="InProc">-->
    <sessionState timeout="540" mode="Custom" customProvider="SSOSessionProvider">
      <providers>
        <add name="SSOSessionProvider" type="Salud.Security.SSO.SSOSessionStateStore" />
      </providers>
		</sessionState>
		<customErrors mode="Off">
		</customErrors>
		<httpHandlers>
			<add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
			<add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"><controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls></pages></system.web>
	<system.webServer>
    <modules runAllManagedModulesForAllRequests="true">            
      <add name="SSOHttpModule" type="Salud.Security.SSO.SSOHttpModule" />
    </modules>
		<handlers>
			<remove name="ChartImageHandler" />
			<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.OpenAccess"
          publicKeyToken="7ce17eeaf1d59342"
          culture="neutral" />
        <bindingRedirect oldVersion="2015.1.225.1" newVersion="2016.01.224.1" />
      </dependentAssembly>
    </assemblyBinding>
      </runtime>-->
</configuration>
